[Desktop Entry]
Name=Vesktop
GenericName=Internet Messenger
Comment=Custom Discord desktop app with Vencord preinstalled
Exec=vesktop %U
Icon=vesktop
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/discord;
StartupWMClass=vesktop
